/* main body styling */
body{
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
/* navbar stylings */

.navbar {
  font-family: 'ZCOOL XiaoWei', serif;
  height: 10vh;
  z-index: 10;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 10vh;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 50%;
}

.nav-hamburger {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px 0;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


/* Main page Background video */

#mainpagevideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* main page teaser */

#center-of-page-card {
  width: 100%;
}

#mainpage-teaser {
  display: flex;
  justify-content: space-around;
}

.teaser-card {
  position: relative;
  background-color: rgba(0,0,0,0.8) ;
  border: 2px black solid;
  height: 70vh;
  border: 1px white solid;
}

.card-text-header {
  font-family: 'ZCOOL XiaoWei', serif;
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.card-text-body {
  padding-top: 20px;
  color: white;
  font-size: 20px;
}

.main-page-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background-color: #fc6203;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

/* Saver page main container */

#saver-page-main {
  height: 20vh;
}

/* Saver page search box */

#saver-search-container {
  display: flex;
  justify-content: center;
}

#saver-search-text {
  color: white;
  font-weight: Bolder;
  font-size: 30px;
  margin-right: 20px;
  text-shadow: 4px 4px black;
}

#saver-search {
  border-radius: 25px;
  border: 3px black solid;
  padding: 10px;
  box-shadow: black 2px 2px;
}

.search-btn {
  background-color: #fc6203;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 15px;
  padding: 0px 10px;
  border-radius: 25px;
}

/* Saver Page low PE stocks section */
#low-pe-container {
  margin: auto;
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#low-pe-card {
  display: flex;
  justify-content: center;
}

#low-pe-card-main {
  border-radius: 25px;
  background-color: rgba(255,255,255,0.7);
}

#low-pe-text {
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 1.5em;
}

#low-pe-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bolder;
  font-size: 18px;
}

#low-pe-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
}

#low-pe-search-btn {
  background-color: #fc6203;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* Saver Page high Dividend stocks section */
#high-div-container {
  margin: auto;
  margin-bottom: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#high-div-card {
  display: flex;
  justify-content: center;
}

#high-div-card-main {
  border-radius: 25px;
  background-color: rgba(255,255,255,0.7);
}

#high-div-text {
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 1.5em;
}

#high-div-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bolder;
  font-size: 18px;
}

#high-div-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
}

#high-div-search-btn {
  background-color: #fc6203;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* Footer */

#footer {
  height: 120px;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: rgba(0,0,0,0.7);
  color: white;
  margin-top: 10vh;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.fa {
  font-size: 30px;
  color: white;
}

/* ------------smallest phone size------------ */
@media only screen and (max-width: 400px){
  .navbar {
    font-family: 'ZCOOL XiaoWei', serif;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }

  #mainpage-teaser {
    display: block;
  }

  .teaser-card {
    width: 300px !important;
  }
  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

/* ------------laptop screen size------------ */

@media only screen and (max-width: 1440px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .card-text-header {
    font-family: 'ZCOOL XiaoWei', serif;
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .card-text-body {
    padding-top: 20px;
    color: white;
    font-size: 15px;
  }

  .teaser-card {
    height: 70vh;
  }
}

/* ------------smaller laptop size------------ */

@media only screen and (max-width: 1300px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  #mainpage-teaser {
    display: block;
  }

  .teaser-card {
    max-height: 550px;
    margin-top: 20px;
  }
  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

/* ------------iphoneX size------------ */

@media only screen and (max-width: 768px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  #mainpage-teaser {
    display: block;
  }

  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

