/* main body styling */
body{
  background-color: black;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
/* navbar stylings */
#nav-logo img {
    height: 40px;
}
.navbar {
  height: 10vh;
  z-index: 10;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
  font-size: 1em;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 50%;
}

.nav-hamburger {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px 0;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
    padding: 0 5px 0 5px;
}

.last-nav-link {
    margin-right: 8%;
}

/* Main page Background video */

#mainpagevideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* jumbotron stylings */

.jumbo-main-bg {
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 5%;
}

.jumbo-bg {
  background-color: rgba(166,166,166,0.3);
  margin-bottom: 5%;
}

hr {
  color: white;
  border: 0.5px white solid;
  text-align: center;
  width: 60%
}

.jumbo-header {
  color: #fc6203;
  font-weight: bolder;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: center;
}

.jumbo-lead {
  color: white;
  font-weight: bolder;
  font-family: 'ZCOOL XiaoWei', serif;
  text-align: center;
  font-size: 1.4em;
}

.jumbo-text {
  color: white;
  text-align: center;
}

/* index page teaser */

#center-of-page-card {
  width: 100%;
}

#mainpage-teaser {
  display: flex;
  justify-content: space-around;
}

.card-body {
    padding: 0px !important;
}

.teaser-card {
  position: relative;
  background-color: rgba(0,0,0,0.8) ;
  min-height: 600px;
  border: 1px white solid;
}

.card-text-header {
  font-family: 'ZCOOL XiaoWei', serif;
  color: #fc6203 !important;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 5%;
}

.card-text-body {
  color: white;
  font-size: 1.2em;
  padding: 5% 5% 25% 5%;
}

.main-page-btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background-color: #fc6203;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0.5px 0.5px white;
  border: 1px black solid;
}

/* Saver page main container */
#saver-bg {
    background-color: black;
}

#saver-page-main {
  height: 10%;
}

/* Saver page undecided text */
#saver-undecided-box {
  text-align: center;
  margin: 10% 0 5% 0;
}

#saver-undecided-text {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2em;
  font-weight: bolder;
  color: #fc6203;
  text-shadow: 3px 3px black;
}

/* Saver page search box */

#saver-search-container {
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
}

#saver-search-text {
  color: white;
  font-weight: Bolder;
  font-size: 30px;
  margin-right: 20px;
  text-shadow: 4px 4px black;
}

#saver-search {
  border-radius: 25px;
  border: 3px black solid;
  padding: 10px;
  box-shadow: black 2px 2px;
}

#saver-search-btn {
  background-color: #fc6203;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  margin-left: 15px;
  padding: 0px 10px;
  border-radius: 25px;
}

#collapseOne {
    margin: 0;
    padding: 0;
}

#collapseTwo {
    margin: 0;
    padding: 0;
}

#saver-search-results {
    margin-top: 5%;
}

#saver-results-stock-info {
    padding: 3% !important;
    background-color: rgba(166,166,166,0.3);
    margin-top: 0px !important;
}

#saver-search-results-description {
    padding: 3% !important;
    background-color: rgba(166,166,166,0.3);
    margin: 0px !important;
}

#saver-search-results-chart {
    padding: 5%;
}

/* Saver Page low PE and high dividend */
.saver-container {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.saver-text-head {
    font-size: 2em;
    color: #fc6203;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    padding-top: 5%;
    font-weight: bold;
}

.saver-card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.saver-card-main {
  border-radius: 0 25px 25px 0;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  margin: 0;
}

.saver-text {
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 5%;
}

.saver-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  color: #fc6203;
}

.saver-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(166,166,166,0.3);
  border-radius: 25px 0 0 25px;
}

.card-text {
    text-align: center;
}

/* Grower page */

#grower-bg {
    background-color: black;
}

#grower-jumbo-text {
    color: #e62c2c;
}

#grower-page-main {
  height: 10%;
}

/* Grower page undecided text */
#grower-undecided-box {
  text-align: center;
  margin: 10% 0 5% 0;
}

#grower-undecided-text {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2em;
  font-weight: bolder;
  color: #e62c2c;
  text-shadow: 3px 3px black;
}

/* Grower page search box */

#grower-search-container {
  display: flex;
  justify-content: center;
  margin: 5% 0 0 0;
}

#grower-search-text {
  color: white;
  font-weight: Bolder;
  font-size: 30px;
  margin-right: 20px;
  text-shadow: 4px 4px black;
}

#grower-search {
  border-radius: 25px;
  border: 3px black solid;
  padding: 10px;
  box-shadow: black 2px 2px;
}

#grower-search-btn {
  background-color: #e62c2c;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  padding: 0px 10px;
  border-radius: 25px;
}

#collapseGrowerOne {
    margin: 0;
    padding: 0;
}

#collapseGrowerTwo {
    margin: 0;
    padding: 0;
}

#grower-search-results {
    margin-top: 5%;
}

#grower-results-stock-info {
    padding: 3% !important;
    background-color: rgba(166,166,166,0.3);
    margin-top: 0px !important;
}

#grower-search-results-description {
    padding: 3% !important;
    background-color: rgba(166,166,166,0.3);
    margin: 0px !important;
}

#grower-search-results-chart {
    padding: 5%;
}

/* Grower Page disruptive company and low PEG companies */
.grower-container {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.grower-text-head {
    font-size: 2em;
    color: #e62c2c;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    padding-top: 5%;
    font-weight: bold;
}

.grower-card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.grower-card-main {
  border-radius: 0 25px 25px 0;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  margin: 0;
}

.grower-text {
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 5%;
}

.grower-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  color: #e62c2c;
}

.grower-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(166,166,166,0.3);
  border-radius: 25px 0 0 25px;
}

#grower-notable-margin {
    margin-bottom: 8%;
}

/* About page stylings */

.header-color {
    color:  #fc6203 !important;
}

/* About page jumbotron Buttons */

#about-jumbo-buttons {
    display: flex;
    justify-content: center;
    margin: 5% 17% 0 17%;
}

.about-jumbo-btn {
    color: black;
    font-weight: bold;
    background-color: #fc6203 !important;
    margin: 0 2% 0 2%;
    border: 1px black solid;
    box-shadow: 1px 1px black;
}

/* About page FIRE history */

.about-fire-container {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.about-fire-text-head {
    font-size: 2em;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    padding-top: 5%;
    font-weight: bolder;
}

.about-fire-text {
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 5%;
}

.about-fire-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(166,166,166,0.3);
  border-radius: 25px;
  padding: 2%;
}

.why-stocks-text {
  color: white;
  text-align: left;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 5%;
}

/* About FIRE guidelines */

.guidelines-fire-card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0%;
  margin-top: 10%;
}

.guidelines-fire-card-main {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  margin: 0;
}

.guidelines-fire-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
}

.guidelines-fire-card-text {
    text-align: center;
    color: black;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5%;
}

.card-text {
    text-align: center;
}

.unordered-list-padding {
    padding-left: 10%;
}

/* About FIRE Approaches to FIRE */

.approaches-fire-text-head {
    font-size: 2em;
    text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
    padding-top: 5%;
    font-weight: bolder;
}

.approaches-fire-text {
  text-align: center;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

.approaches-fire-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(166,166,166,0.3);
  border-radius: 25px;
  padding: 2%;
  margin-top: 10%;
}

.about-approaches-btn {
    color: black;
    font-weight: bold;
    background-color: #fc6203 !important;
    margin: 0 40% 5% 40%;
    max-width: 20% !important;
    border: 1px black solid;
    box-shadow: 1px 1px black;
}

/* About FIRE My Approach  */

.my-approach-fire-card {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0%;
  margin-top: 10%;
}

.my-approach-fire-card-main {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  margin: 0;
}

.my-approach-fire-card-header {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
}

.my-approach-fire-card-text {
    text-align: center;
    color: black;
    font-size: 1em;
    line-height: 1.5em;
    padding: 5%;
}

.card-text {
    text-align: center;
}

/* Footer */

.footer {
  height: 120px;
  font-family: 'ZCOOL XiaoWei', serif;
  background-color: rgba(0,0,0,0.7);
  color: white;
  margin-top: 5%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.footer-social-text {
    padding-top: 1%
}

.fa {
  font-size: 30px;
  color: white;
  padding: 0 7px 0 7px
}

/* ------------smallest phone size------------ */
@media only screen and (max-width: 400px){
  .navbar {
    font-family: 'ZCOOL XiaoWei', serif;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }

  #mainpage-teaser {
    display: block;
  }

  .teaser-card {
    width: 300px !important;
  }
  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

/* ------------laptop screen size------------ */

@media only screen and (max-width: 1440px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  .card-text-header {
    font-family: 'ZCOOL XiaoWei', serif;
    color: white;
    font-size: 25px;
    font-weight: bolder;
  }
  
  .card-text-body {
    padding-top: 20px;
    color: white;
    font-size: 15px;
  }

  .teaser-card {
    min-height: 500px;
  }
}

/* ------------smaller laptop size------------ */

@media only screen and (max-width: 1300px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  #mainpage-teaser {
    display: block;
  }

  .teaser-card {
    max-height: 550px;
    margin-top: 20px;
  }
  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

/* ------------iphoneX size------------ */

@media only screen and (max-width: 768px) {
  #mainpagevideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  #mainpage-teaser {
    display: block;
  }

  
  #center-of-page-card {
    display: flex;
    justify-content: center;
  }
}

